{% extends 'main/components/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'home.css' %}">
{% endblock %}

{% block scripts %}
<script defer src="{% static 'js/main.js' %}"></script>
{% endblock %}
{% block title %}Home{% endblock %}

{% block navbar %}
    {% include 'main/components/navbar.html' %}
{% endblock %}

{% block content %}
    <div class="container">
          <div class="modal fade" id="quizStartModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Filloni Kuizin</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="modalBodyConfirm">
                  
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Mbrapa</button>
                  <button type="button" id="startButton" class="btn btn-success">Fillo</button>
                </div>
              </div>
            </div>
          </div>

          <div class="h1">
            Te gjitha kuizet
          </div>
          <hr>
          {% for obj in object_list %}
                <button class="btn btn-link modal-button"
                data-pk="{{ obj.pk }}"
                data-quiz="{{ obj.name }}" 
                data-questions="{{ obj.number_of_questions }}"
                data-difficulty="{{ obj.difficulty }}"
                data-time="{{ obj.time }}"
                data-pass="{{ obj.required_score_to_pass }}"
                data-bs-toggle="modal"
                data-bs-target="#quizStartModal">
                {{ obj.name }}
                </button>
                <br>
          {% endfor %}
    </div>

{% endblock %}